<div>
  <h1>{{restaurant.name}}</h1>
  [{{restaurant.Category.name}}]
</div>
<hr>
<ul>
  <li>評論數: {{restaurant.Comments.length}}</li>
  <li>瀏覽次數: {{restaurant.viewCounts}}</li>
</ul>
<a href="javascript:history.back()">回上一頁</a>