{{> message }}
<form class="form-signin" action="/signup" method="POST" style="width: 100%;">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
  </div>
  <div class="form-group row">
    <small class="col-auto"><span style="color: red;">*</span>必填欄位</small>
  </div>
  <div class="form-label-group">
    <label for="inputName">Name</label>
    <input type="text" name="name" class="form-control" placeholder="Name" value="{{user.name}}" autofocus>
  </div>
  <div class="form-label-group">
    <label for="inputEmail">Email<span style="color: red; margin-left: 0.1em"> *</span></label>
    <input type="text" name="email" class="form-control" placeholder="user@example.com" value="{{user.email}}" required
      autofocus>
  </div>
  <div class="form-label-group">
    <label for="inputPassword">Password<span style="color: red; margin-left: 0.1em"> *</span></label>
    <input type="password" name="password" class="form-control" placeholder="密碼長度介於 6 ~ 20" required>
  </div>
  <div class="form-label-group">
    <label for="inputPasswordCheck">Password Check</label>
    <input type="password" name="passwordCheck" class="form-control" placeholder="Password Check" required>
  </div>
  <br />
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  <div class="text-center mb-4">
    <p><a href="/signin">Sign In</a></p>
  </div>
  <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
</form>